.section {
    font-size: 10px;
    height: 50%;
}
.nav-link{
    /* color: white; */
    color: black;
}
.formgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin-top: 1%;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
}

.floating-btn:hover {
    background-color: #0056b3;
}

.button {
    color: white;
    /* background-color: #222; */
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 15px;
    text-align: center;
    align-items: center;
    border: none;
    width: 100%;
    max-width: 120px;
    box-sizing: border-box;
}
.row{
    --bs-gutter-x: 0;
}


.bigger {
    font-size: 15px;
}

body {
    background: #FAF9F6 ;
}

.list-hover:hover {
    background-color: #D3D3D3;
}

.navbar-fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.form {
    position: relative;
}

.fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 55px;
    text-indent: 2%;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 30px;
    margin-right: 10px;
}

.navbar-nav{
    color: #333333;
}

.navbar-nav .nav-link:hover {
    /* color: #ff5100; */
    color: goldenrod;
}

#rekomendasi {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
    width: 90%;
    max-width: 600px;
    text-indent: 2%;
}

.rekomendasi-container {
    position: relative;
    margin-top: 1%;
}

#rekomendasi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#rekomendasi ul li {
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: .3s;
    transition-property: transform;
    color: #333333;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

.InputContainer {
    width: 90%;
    max-width: 600px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.075);
    margin: auto;
    margin-top: 2%;
    position: relative;
    border: 1.5px rgb(51, 51, 51) solid;
}

.search-button {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-label {
    margin-right: 15px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.action-buttons button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: #ff5100;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.action-buttons button:hover {
    background-color: #e04100;
}

@media (max-width: 576px) {
    .checkbox-container {
        margin-left: 5%;
    }
}

@media (max-width: 576px) {
    .formgroup {
        flex-direction: row;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
