body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    /* line-height: 1.6; */
}

a.link-gap {
    margin-right: 30px;
    /* Adjust the margin value to your desired gap size */
}

.container-atas {
    background-color: #F8F8F8;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}

.container-bawah {
    margin-bottom: 30px;
    border-radius: 10px;
    /* padding: 20px; */
}

.materi-terkait{
  margin-bottom: 20px;
}

.materi-terkait h3 {
    text-align: center;
}

.summary-content {
    background: #ffffff;
    padding: 20px;
    /* margin-right: 10px; */
    /* border-radius: 20px; */
    font-size: 16px;
    line-height: 1.7;
    border-radius: 10px;
}

.summary-content h2,
h3 {
    color: #2b1313	;
    text-align: center;
}

.summary-container {
    position: relative;
}

.pertanyaan-container {
    color: #2c425c;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
}

.container-bawah h3 p li ul{
    font-size: medium;
    color: #2b1313	;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error-message p {
    text-align: center;
}

.narsum-tanggal{
    /* background: #f2f3f0; */
    color: #2c425c;
}

.keyword-content{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 10px;
} 

.keyword-content h6{
    margin-left: 5px;
    margin-bottom: 20px;
}

.keyword-link{
    color: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);
    text-decoration: none;
    margin-right: 10px;
}

.btn-link1{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);
    text-decoration: none;
    margin-right: 10px;
    color: gold;
    width: 200px;
}

.btn-link1:hover{
    color: gold;
    text-decoration: none;
}

.btn-ln{
  padding: 5px;
  border-radius: 10px;
  background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);
  margin-right: 10px;
  margin-bottom: 7px;
  width: 200px;
  border: 0px;
}

.btn-ln-a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn-ln-a:hover{
  color: gold;
}

.ppt-container{
  padding-right: 10px; 
}

.details-container{
  padding-left: 10px;
}

@media (max-width: 992px){
  .sum-col{
    padding: 0px;
  }

  .q-col{
    padding: 0px;
  }
}

@media (min-width: 992px){
  .sum-col{
    padding: 7px;
  }

  .q-col{
    padding: 7px;
  }
}