/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #efefef;
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    /* padding: 1rem; */
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 1%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

._cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

._cards_item {
    flex-basis: calc(25% - 1rem);
    padding: 1rem;
    box-sizing: border-box;
}

._card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

._card:hover {
    transform: scale(1.05);
}

._card_content {
    padding: 1rem;
    background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

._card_title {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 0.5rem;
}

._card_text {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0;
    font-weight: 400;
}

._card_image {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 54%;
}

._card_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-sm-btn{
    width: max-content;
    background-color: #1e0049;
    margin-bottom: 7px;
}

.sect-cont-sidebar{
    /* background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f); */
    background: linear-gradient(to right top, #211045, #2f2f2f);
    /* background-color: white; */
    color: white;
}

.ffc{
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: 7px;
    padding-top: 5px;
}

.ffc::-webkit-scrollbar {
  width: 7px;
}
  
.ffc::-webkit-scrollbar-track {
  background: transparent;
}
  
.ffc::-webkit-scrollbar-thumb {
  background-color: #4C4452;
  border-radius: 20px;
  border: 0px transparent;
  transition: background-color 1s;
}

.ffc::-webkit-scrollbar-thumb:hover {
    background-color: #FDF7FF;
    transition: background-color 1s;
  }
  

.cbstyle{
    color: gold;
    background-color: gold;
    accent-color: gold;
}



.ffv{
    max-height: 200px;
    width: 85%;
    overflow-y: scroll;
}

.sect-search{
    margin-bottom: 20px;
}

.sect-konten-head{
    padding-left: 16px;
}

.checkbox-label input[type="checkbox"]:checked {
    accent-color: gold;
  }



.container input:checked ~ .checkmark {
    background-color: gold;
  }
@media (max-width: 1200px) {
    ._cards_item {
        flex-basis: calc(33.3333% - 1rem);
    }
}

@media (min-width: 768px) {
    .content-container {
        flex-wrap: nowrap;
    }

    .video-container {
        flex-basis: 60%;
        margin-bottom: 0;
    }

    .details-container {
        flex-basis: 40%;
    }

    .filter-sm-btn{
        display: none;
    }

    #col-filter-sm{
        display: none;
    }

}

@media (max-width: 768px) {
    ._cards_item {
        flex-basis: calc(50% - 1rem);
    }
    .col-filter{
        display: none;
    }

}

@media (max-width: 480px) {
    ._cards_item {
        flex-basis: 100%;
    }
}