#loader-cont{
    /* background-color: violet; */
    height: 150px;
    width: 150px;
    margin-left: 50%;
    margin-top: 50vh;
    position: fixed;
}

#loader-cont img{
    animation: linear infinite;
}

footer {
    margin-top: auto;
    bottom: 0;
}

.footer {
    margin-top: auto;
    background-color: black;
    color: #fff;
}

.container-list {
		display: flex;
		flex-direction: column;
		align-items: stretch;
}
/* UNTUK MEDIA BESAR */
@media screen and (min-width: 768px){
    .colffollow{
        display: flex;
        justify-content: center;
    }
    .colf2{
        width: max-content;
    }
    .contButton {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-items: center; 
    }
}

/* UNTUK MEDIA KECIL */
@media screen and (max-width: 768px){
    .colf2{
        width: 100%;
    }
    .follow{
        margin-top: 10px;
    }
    .contButton {
        flex-direction:row;
    }
}

@media screen and (max-width: 516px) {
    .t-foot {
        display: flex; 
        flex-direction:column;
    }
    .follow{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .logo-foot {
        display: flex; 
        flex-direction:column;
    }
}

.donasiButtn{
    background-color: #DF750F;
    border: 2px solid azure;
}

.donasiButtn .donasiButtna{
        color: whitesmoke;
}

.donasiButtn:hover{
    color: black;
    background-color: #ffbb00;
    border: 3px solid white;
    padding: 0px;
}

.donasiButtn:hover .donasiButtna{
    color: black;
}

.involveButtn{
    background-color: #4CAF50;
    border: 2px solid azure;
}

.involveButtn .involveButtna{
    color: whitesmoke;
}

.involveButtn:hover{
    color: black;
    background-color: #4ee753;
    border: 3px solid white;
    padding: 0px;
}

.involveButtn:hover .involveButtna{
        color: black;
}

.kontakButtn{
    background-color: #008CBA;
    border: 2px solid azure;
}

.kontakButtn .kontakButtna{
    color: whitesmoke;
}


.kontakButtn:hover{
    color: black;
    background-color: #00aee8;
    border: 3px solid white;
    padding: 0px;
}

.kontakButtn:hover .kontakButtna{
    color: black;
}