/*-------------------  
    List Event & Narsum 
-------------------*/
#contEventNarsum{
    padding-top: 30px;
    padding-left: 16px;
    width: calc(100% - 16px);
}

.container-event {
    color: gold;
    background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.container-event a {
    color: white;
    text-decoration: none;
}

.event-name {
    margin-bottom: 15px;
}

.event-name h2 {
    font-weight: bold;
}

.event-li, .narsum-li {
    margin-bottom: 10px;
    width: 150px;
    word-wrap: normal;
}

@media (max-width: 480px) {
    .event-li, .narsum-li {
        width: 100%;
    }
}

.event-li a, .narsum-li a {
    font-size: large;
}

#narasumberList, #eventList{
    columns: 4;
    list-style: none;
    column-gap: 5%;
}

@media (max-width: 1080px){
    #narasumberList, #eventList{
        columns: 3;
    }
}

@media (max-width: 890px) {
    #narasumberList, #eventList{
        columns: 2;
    }
}

@media (max-width: 480px) {
    #narasumberList, #eventList{
        columns: 1;
    }
}

#ex-event-btn, #ex-naras-btn{
    background-color: transparent;
    color: gold;
    border: none;
}