#p2_selectedCard {
    background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);

}

a.link-gap {
    margin-right: 30px;
    /* Adjust the margin value to your desired gap size */
}

.container-atas {
    background-color: #FAF9F6;
    color: #2F2D2F;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}

.container-bawah {
    margin-bottom: 30px;
    border-radius: 10px;
    /* padding: 20px; */
}

/* ._hidden {
  opacity: 0;
  filter: blur(6px);
  transform: translateY(40%);
  transition: all 0.6s;
}

._show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
} */

.unduh h6 {
  font-weight: bold;
  font-size: small;
  text-decoration: underline;
  text-align: center;
  color: #DF2935;
  margin-top: 10px;
}

.materi-text h3{
  margin-top: 10px;
  color: white;
}

.judul-terkait h3{
  margin-top: 30px;
}

.materi-terkait{
  margin-bottom: 20px;
}

.materi-terkait h3 {
    text-align: center;
}



.summary-content {
    background: #FAF9F6;
    padding: 20px;
    /* margin-right: 10px; */
    /* border-radius: 20px; */
    font-size: 16px;
    line-height: 1.7;
    border-radius: 10px;
}

.summary-content h2,
h3 {
    color: #2F2D2F	;
    text-align: center;
    font-weight: bold;
}

.summary-container {
    position: relative;
}

.pertanyaan-container {
    color: #2F2D2F;
    background-color: #FAF9F6;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
}

.pertanyaan-container h5{
  font-weight: bold;
}

.container-bawah h3 p li ul{
    font-size: medium;
    color: #2F2D2F	;
}

._cards-container{
  background-color: #FAF9F6;
  border-radius: 20px;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error-message p {
    text-align: center;
}

.narsum-tanggal{
    /* background: #f2f3f0; */
    color: #2F2D2F;
}

.keyword-content{
    background: #FAF9F6;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 10px;
} 

.keyword-content h5{
    margin-left: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.keyword-link{
    text-decoration: none;
    margin-right: 10px;
    color: #1481BA;
    font-weight:600;
}

.keyword-link:hover{
  color: #2F2D2F;
  text-decoration: underline;
}

.keyword-content h5{
  text-align: center;
}

.narsum-link{
  text-decoration: none;
  color: #1481BA;
  font-weight: 600;
}

.narsum-link:hover{
  color: #2F2D2F;
  text-decoration: underline;
}

.links a{
  justify-items: center ;
}

.btn-ln{
  padding: 5px;
  border-radius: 10px;
  background: #FF6663;
  margin-right: 10px;
  margin-bottom: 7px;
  width: 200px;
  border: 0px;
}


.btn-ln-a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn-ln:hover{
  background-color: #2F2D2F;
}

.ppt-container{
  padding-right: 10px; 
}

.details-container{
  padding-left: 10px;
}

@media (max-width: 992px){
  .sum-col{
    padding: 0px;
  }

  .q-col{
    padding: 0px;
  }
}

@media (min-width: 992px){
  .sum-col{
    padding: 7px;
  }

  .q-col{
    padding: 7px;
  }
}