#p2_selectedCard {
    background: linear-gradient(to right top, #1e0049, #211045, #251c3f, #2a2638, #2f2f2f);

}

/*-------------------  
  Bagian Atas 
  (PDF/Youtube, Judul, Event, Narasumber, Short Description, Donwload)
-------------------*/
.container-atas {
    background-color: #FAF9F6;
    color: #2F2D2F;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}

.unduh h6 {
  font-weight: bold;
  font-size: small;
  text-decoration: underline;
  text-align: center;
  color: #DF2935;
  margin-top: 10px;
}

.details-container{
  padding-left: 10px;
}

@media (min-width: 768px) {
  .details-container {
      flex-basis: 40%;
  }
}

.narsum-tanggal{
  color: #2F2D2F;
}

.btn-ln{
  padding: 5px;
  border-radius: 10px;
  background: #FF6663;
  margin-right: 10px;
  margin-bottom: 7px;
  width: 200px;
  border: 0px;
}

.btn-ln-a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn-ln:hover{
  background-color: #2F2D2F;
}


/*-------------------  
  Bagian Bawah 
  (Summary, Keyword, Pertanyaan)
-------------------*/
.container-bawah {
    margin-bottom: 30px;
    border-radius: 10px;
    /* padding: 20px; */
}

.container-bawah h3 p li ul{
  font-size: medium;
  color: #2F2D2F	;
}

@media (max-width: 992px){
  .sum-col{
    padding: 0px;
  }

  .q-col{
    padding: 0px;
  }
}

@media (min-width: 992px){
  .sum-col{
    padding: 7px;
  }

  .q-col{
    padding: 7px;
  }
}

.summary-content {
  background: #FAF9F6;
  padding: 20px;
  font-size: 16px;
  line-height: 1.7;
  border-radius: 10px;
}

.summary-content h2,
h3 {
  color: #2F2D2F	;
  text-align: center;
  font-weight: bold;
}

.keyword-content{
  background: #FAF9F6;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 10px;
} 

.keyword-content h5{
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.keyword-link{
  text-decoration: none;
  margin-right: 10px;
  color: #1481BA;
  font-weight:600;
}

.keyword-link:hover{
color: #2F2D2F;
text-decoration: underline;
}

.links a{
  justify-items: center ;
}

.pertanyaan-container {
  color: #2F2D2F;
  background-color: #FAF9F6;
  padding: 10px;
  border-radius: 20px;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.pertanyaan-container h5{
font-weight: bold;
}

/*-------------------  
  Materi & Judul Terkait
-------------------*/
.materi-terkait h3 {
  text-align: center;
}

.judul-terkait h3{
  margin-top: 30px;
}

.materi-terkait{
  margin-bottom: 20px;
}

.materi-text h3{
  margin-top: 10px;
  color: white;
}
